
.conteinerLista{
    background-color: rgb(160, 209, 209);
    border-radius: 10px;
    margin: auto;
    width: 80%;
    min-height: 50vh;
    /* //border: 1px solid blue; */
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}


